*{
    margin: 0;
    padding: 0;
}
html{
    background-color: rgb(155, 154, 154);
}
.login{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 35%;
    left: 40%;
    padding: 50px;
    border-radius: 10px;
    transition: .3s;

}
form input{
    margin-top: 10px;
    padding: 5px;
    outline: unset;
    border-radius: 10px;
    
}
form input[type=submit]{
    background-color: #fff;
    width: 150px;
    cursor: pointer;
    transition: .3s;
    
}
form input[type=submit]:hover, a:hover{
    color:#fff;
    background-color: #000;
    transition: .3s;
}
form a{
    
    color: black; 
    text-decoration: none;
    
    border: 1px solid black;
    padding: 3%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 15px;
    transition: .3s;
    cursor: pointer;
}
.login:hover{
    box-shadow:10px 10px #3d3d3d;
    transition: .3s;
}
#menu ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

#menu ul li h1{
    padding: 20px 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin: 30px;
    margin-left: 35%;
    border-radius: 10px;
}

